.main-ir-wrap {position:absolute;top:420px;z-index:-1;}
.main-scr-outer * {transition:none;pointer-events:none;}
.main-scr-outer > div.inner {width:100vw;margin:0 auto;}
.main-scr-outer .main-scr-wrap {position:relative;overflow:hidden;height:250px;}
.main-scr-outer .main-scr-list {position:absolute;top:0px;left:0px;z-index:100;overflow:hidden;width:300vw;-webkit-transition-timing-function:linear;/* Safari and Chrome */transition-timing-function:linear;}
.main-scr-outer .main-scr-list li {float:left;width:2000px;font-size:150px;font-weight:600;line-height:1.5;opacity:.5;white-space:nowrap;}
.main-scr-outer .main-scr-list li img {vertical-align:middle;}
.main-scr-outer.type-vertical .main-scr-wrap {height:200vw;}
.main-scr-outer.type-vertical .main-scr-list {display:flex;flex-direction:column-reverse;left:auto;right:250px;right:13.02083vw;overflow:visible;width:auto;height:200vh;}
.main-scr-outer.type-vertical .main-scr-list li {float:none;width:250px;height:1480px;min-height:1480px;text-align:center;}
.main-scr-outer.type-vertical .main-scr-list li img {width:145px;}

.pj-pagination-list {font-size:0;}
.pj-pagination-list li {display:inline-block;width:50%;vertical-align:top;}
.pj-pagination-list li .pj-list-item {position:relative;display:flex;align-items:center;width:100%;min-height:250px;}
.pj-pagination-list li:nth-child(odd) .pj-list-item {justify-content:space-between;}
.pj-pagination-list li:nth-child(even) .pj-list-item {justify-content:flex-end;}
.pj-pagination-list li:nth-child(odd) .pj-list-item .pj-item-cont {padding-left:360px;}
.pj-pagination-list li:nth-child(even) .pj-list-item .pj-item-cont {padding-right:360px;text-align:right;}
.pj-pagination-list li .pj-list-item .pj-item-img {position:absolute;top:0;bottom:0;left:0;right:0;z-index:-1;}
.pj-pagination-list li:nth-child(even) .pj-list-item .pj-item-img {left:-60px;}
.pj-pagination-list li .pj-list-item .pj-item-img img {max-width:none;}
.pj-pagination-list li .pj-list-item .pj-item-top {font-size:26px;color:#fff;line-height:1.3;}
.pj-pagination-list li .pj-list-item .pj-item-text {margin-top:10px;font-size:40px;font-weight:700;color:#fff;line-height:1.3;}
.pj-pagination-list li .pj-list-item .btn-box {position:absolute;top:50%;width:60px;height:60px;margin-top:-30px;}
.pj-pagination-list li:nth-child(odd) .pj-list-item .btn-box {left:237px;}
.pj-pagination-list li:nth-child(even) .pj-list-item .btn-box {right:237px;}
.pj-pagination-list li .pj-list-item .btn-box a {position:relative;width:100%;height:100%;border:1px solid #fff;border-radius:50%;}
.pj-pagination-list li .pj-list-item .btn-box a:before {content:'';-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute;top:50%;left:50%;width:12px;height:12px;border:1px solid #fff;}
.pj-pagination-list li:nth-child(odd) .pj-list-item .btn-box a:before {margin:-6px 0 0 -5px;border-width:0 0 2px 2px;}
.pj-pagination-list li:nth-child(even) .pj-list-item .btn-box a:before {margin:-6px 0 0 -9px;border-width:2px 2px 0 0;}

@media screen and (max-width: 1920px) {
	.main-scr-outer.type-vertical .main-scr-list {right:13.02083vw;}
	.main-scr-outer.type-vertical .main-scr-list li {width:13.02083vw;height:77.08333vw;min-height:77.08333vw;}
	.main-scr-outer.type-vertical .main-scr-list li img {width:7.55208vw;}
	.pj-pagination-list li:nth-child(odd) .pj-list-item .btn-box {left:12.34375vw;}
	.pj-pagination-list li:nth-child(even) .pj-list-item .btn-box {right:12.34375vw;}
	.pj-pagination-list li:nth-child(odd) .pj-list-item .pj-item-cont {padding-left:18.75vw;}
	.pj-pagination-list li:nth-child(even) .pj-list-item .pj-item-cont {padding-right:18.75vw;}
}

.pj-detail-wrap {max-width:1200px;margin:120px auto 0;}
.pj-detail-cont {padding:86px 0 179px;}
.pj-detail-cont .pj-cont-tit {font-size:70px;font-weight:700;color:#222;line-height:1.3;}
.pj-detail-cont .pj-sub-text {margin-top:45px;font-size:24px;font-weight:500;color:#999;line-height:1.3;}
.pj-detail-cont .pj-cont-text {margin-top:112px;font-size:28px;color:#666;line-height:1.7;}
.pj-detail-cont .pj-cont-img {margin-top:111px;text-align:center;}
.pj-detail-cont .pj-tag-list {font-size:0;margin:30px 0 0 -10px;}
.pj-detail-cont .pj-tag-list li {display:inline-block;margin:15px 0 0 10px;padding:9px 27px 8px;border:1px solid #ccc;border-radius:25px;font-size:24px;color:#222;line-height:1.3;vertical-align:top;}