/* Portfolio Content */
.portfolio-inner {max-width:1240px;padding:0 20px 120px;margin:135px auto 0;}
.portfolio-top-txt .txt01 {color:#222;font-size:32px;font-weight:600;line-height:56px;letter-spacing:-1px;}
.portfolio-top-txt .txt02 {margin-top:35px;color:#222;font-size:28px;font-weight:500;line-height:48px;letter-spacing:-1px;}
.portfolio-tab-menu {margin-top:150px;}
.portfolio-tab-menu > li {display:inline-block;color:#ccc;font-size:46px;font-weight:700;letter-spacing:-1px;cursor:pointer;}
.portfolio-tab-menu > li:hover,
.portfolio-tab-menu > li.active {color:#00c8ff;}
.portfolio-tab-menu > li+li {margin-left:60px;}
.portfolio-tab-list {margin-top:110px;}
.portfolio-tab-list:after {display:block;content:'';clear:both;}
.portfolio-tab-list > li {position:relative;float:left;/* width:550px; */width:45.833333%;margin-top:75px;overflow:hidden;}
.portfolio-tab-list > li:nth-child(1),
.portfolio-tab-list > li:nth-child(2) {margin-top:0;}
.portfolio-tab-list > li:nth-child(2n) {margin-left:8.333333%;/* margin-left:100px; */}
.portfolio-tab-list > li:before {position:absolute;top:-57px;left:-58px;width:100px;height:100px;background:#fff;transform:rotate(-45deg);content:'';}
.portfolio-tab-list > li > a {display:block;width:100%;}
.portfolio-tab-list .img-box {width:100%;/* height:360px */height:0;padding-bottom:65.454545%;background:#eee;overflow:hidden;}
.portfolio-tab-list .img-box img {width:100%;}
.portfolio-tab-list .tit { display:block;margin-top:38px;color:#222;font-size:28px;font-weight:600;letter-spacing:-1px;}
.portfolio-tab-list .date { display:block;margin-top:15px;color:#999;font-size:22px;font-weight:500;letter-spacing:-1px;}


@media (max-width:1240px) {
    .portfolio-top-txt .txt01 { font-size:2.644628099173554vw;line-height:4.62809917355372vw;}
    .portfolio-top-txt .txt02 { font-size:2.31404958677686vw;line-height: 3.9669421487603307vw;}
    .portfolio-tab-menu { margin-top:12.396694214876034vw;}
    .portfolio-tab-list > li { margin-top:6.048387096774193vw;}
    .portfolio-tab-list > li:before { top:-4.596774193548387vw;left:-4.67741935483871vw;width:8.064516129032258vw;height:8.064516129032258vw;}
}
@media (max-width:825px) {
    .portfolio-tab-list {margin-top:13.333333333333334vw;}
    .portfolio-tab-menu > li {font-size:5.575757575757576vw;}
    .portfolio-tab-menu > li+li {margin-left:7.2727272727272725vw;}
    .portfolio-tab-list .tit {margin-top:4.606060606060606vw;font-size:3.393939393939394vw;}
    .portfolio-tab-list .date {margin-top:1.8181818181818181vw;font-size:2.6666666666666665vw;}
}

@media (max-width:420px) {
    .portfolio-inner {margin-top:80px;}
    .portfolio-top-txt .txt01 { font-size:15px;}
    .portfolio-top-txt .txt02 {margin-top:25px;font-size:14px;}
}